@use "fonts";
@use "colors";
@use "variables";
@use "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: variables.$font-size-base;
  scroll-behavior: smooth;
}

body {
  @include fonts.font-body(400);
  background-color: colors.$color-surface;
  color: colors.$color-text-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: variables.spacing(0.5);
  font-weight: variables.$font-weight-semibold;
  line-height: variables.$line-height-tight;
}

h1 {
  font-size: variables.$font-size-3xl;
}

h2 {
  font-size: variables.$font-size-2xl;
}

h3 {
  font-size: variables.$font-size-xl;
}

h4 {
  font-size: variables.$font-size-lg;
}

h5 {
  font-size: variables.$font-size-md;
}

h6 {
  font-size: variables.$font-size-sm;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    color: colors.$color-primary-hover;
  }
}

p {
  margin-bottom: variables.spacing(1);
  font-size: variables.$font-size-md;
  line-height: variables.$line-height-base;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: variables.spacing(1);

  li {
    margin-bottom: variables.spacing(0.75);
    line-height: variables.$line-height-base;

    &::before {
      font-family: "Font Awesome 6 Pro";
      content: "\f054";
      color: colors.$color-accent;
      margin-right: variables.spacing(0.5);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
